.nav-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 6vw;
    margin-right: 6vw;
    }

    .white-icon{
        color:white
      }