.white-icon{
    color:white
  }
  
  .nav-container{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 6vw;
  margin-right: 6vw;
  }
  
  .content-container{
  margin-left: 10vw;
  margin-right: 10vw;
  }

  .search-container {
    margin-top: 2vw;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  #form {
    border: 1px solid black;
    width: 70%;
    height: 44px;
    border-radius: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .input {
    all: unset;
    font: 16px system-ui;
    height: 100%;
    width: 100%;
    padding: 6px 10px;
  }
  
  ::placeholder {
    opacity: 0.7;
  }
  
  .button {
    all: unset;
    cursor: pointer;
    width: 44px;
    height: 44px;
  }
  
  .svg {
    fill: currentColor;
    width: 24px;
    height: 24px;
    padding: 10px;
  }
  
  #query {
    margin-left: 3%;
  }

  .all-width{
    width: 100%;
  }