.white-icon {
  color: white
}

.content-container {
  margin-left: 10vw;
  margin-right: 10vw;
}

.search-container {
  margin-top: 2vw;
  width: 100%;
  display: flex;
  justify-content: center;
}

#form {
  border: 1px solid black;
  width: 70%;
  height: 44px;
  border-radius: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.input {
  all: unset;
  font: 16px system-ui;
  height: 100%;
  width: 100%;
  padding: 6px 10px;
}

::placeholder {
  opacity: 0.7;
}

.button {
  all: unset;
  cursor: pointer;
  width: 44px;
  height: 44px;
}

.svg {
  fill: currentColor;
  width: 24px;
  height: 24px;
  padding: 10px;
}

#query {
  margin-left: 3%;
}

.all-width {
  width: 100%;
}

.option-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.mdc-list-item__primary-text {
  width: 100%;
}

.volume-title {
  width: 80%;
}

.volume-author {
  width: 15%;
}

.volume-title-broke {
  width: 80%;
}

.volume-author-broke {
  width: 15%;
}

#drawer{
  width: 20%;
}

.white-icon {
  color: white
}

.nav-container-filter{
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 600px) {

  .volume-title {
    width: 70%;
  }
  
  .volume-author {
    width: 25%;
  }

  .volume-title-broke {
    width: 60%;
  }
  
  .volume-author-broke {
    width: 25%;
  }

  #drawer{
    width: 60%;
  }
}