<app-manager-navbar></app-manager-navbar>

<div class="content-container">
  <div class="search-container">
    <form [formGroup]="formGroup" class="all-width">
      <mat-form-field class="all-width">
        <mat-label>
          Libro da aggiungere
        </mat-label>
        <input (input)="getBooksName()" [(ngModel)]="inputValue.volumeInfo.title" formControlName="libro" matInput
          type="text" [matAutocomplete]="auto" />
        <button *ngIf="inputValue.volumeInfo.title" matSuffix mat-icon-button aria-label="Clear"
          (click)="inputValue.volumeInfo.title=''">
          <mat-icon>close</mat-icon>
        </button>
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let item of filteredOptions" (click)="newForm(item)" class="custom-mat-option">
            <div class="option-content">
              <div>{{item.volumeInfo.title}}</div>
              <div> {{item.volumeInfo.authors}}</div>
            </div>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>
  </div>
</div>






