.card-container {
  margin: 5wh;
  width: 80%;
}

.search-container {
  margin-top: 2vw;
  width: 100%;
  display: flex;
  justify-content: center;
}

.form {
  border: 1px solid rgb(175, 165, 165);
  width: 70%;
  height: 44px;
  border-radius: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
}

.input {
  all: unset;
  font: 16px system-ui;
  height: 100%;
  width: 100%;
  padding: 6px 10px;
}

::placeholder {
  opacity: 0.7;
}

.button {
  all: unset;
  cursor: pointer;
  width: 44px;
  height: 44px;
}

.svg {
  fill: currentColor;
  width: 24px;
  height: 24px;
  padding: 10px;
}

#query {
  margin-left: 3%;
}

.star-rating {
  font-size: 2em;
  color: #ffc107;
}

.image {
  background: #34495e;
  border: 1px solid #34495e;
  width: 100%;
  height: 200px;
  margin-bottom: 5px;
}

.image-contain {
  object-fit: contain;
  object-position: center;
}

.cart-position {
  justify-content: space-between;
}

.white-icon {
  color: white
}

.nav-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 6vw;
  margin-right: 6vw;
}

.nav-container-cart {
  width: 100%;
  margin-left: 3vw;
  margin-right: 3vw;
}

.content-container {
  width: 100%;
  margin-left: 26vw;
  margin-right: 2vw;
}

.drawer-container {
  width: 30vw;
}

.title-card {
  height: 20px;
  overflow: hidden;
}

.filters-container{
  padding-top: 4vw;
  padding-left: 1.5vw;
  padding-right: 1.5vw;
  width: 20%;
  background-color: white;
  min-height: 100%;
  align-items: center;
  position: fixed;
}

.center{
  display: flex;
  justify-content: center;
}


.range-price{
  width: 40%;
  border: none;
  appearance: none;
  outline: none;
}