<mat-drawer-container class="example-container">
    <mat-drawer id="drawer" position="end" #drawer mode="over">
        <div class="drawer-container">
            <mat-toolbar style="background-color: var(--nav-color)">
                <div class="nav-container-cart">
                    <button *ngIf="isThis=='phone'" class="white-icon" (click)="drawer.toggle()" mat-icon-button>
                        <mat-icon>arrow_forward</mat-icon>
                    </button>
                    <div>
                        <span style="color: white">Il mio carrello</span>
                    </div>
                </div>
            </mat-toolbar>
            <div *ngFor="let book of cart">
                <div>
                    <mat-card class="example-card">
                        <mat-card-header>
                            <mat-card-title-group>
                                <img mat-card-md-image [src]="book.image">
                                <div style="margin-left: 10px; display: flex; flex-wrap: wrap; align-content: space-between; margin-left: 2vw;">
                                    <div>
                                        <mat-card-title class="title-card">{{book.title}}</mat-card-title>
                                        <mat-card-subtitle class="title-card">{{book.authors}}</mat-card-subtitle>
                                    </div>
                                    <mat-card-subtitle position="end" style="margin-bottom:10px">Costo:
                                        <b>{{book.price}}€</b></mat-card-subtitle>
                                </div>
                                <button class="slice-book-cart">
                                    <mat-icon (click)="SpliceToCart(book._id)">remove_circle</mat-icon>
                                </button>
                            </mat-card-title-group>
                        </mat-card-header>
                    </mat-card>
                </div>
            </div>
            <div *ngIf="cart.length>0">
                <mat-divider></mat-divider>
                <div style="text-align: center; font-family: 'quicksand',sans-serif;margin: 2vw;">TOTALE:
                    <b>{{getTotal()}}€</b>
                </div>
                <mat-divider></mat-divider>
                <mat-divider></mat-divider>
                <div class="send-email-cart-button">
                    <button mat-raised-button color="warn" (click)="newForm()">Invia email</button>
                </div>
            </div>
            <div *ngIf="cart.length==0" style="margin: 2vw; font-size:13px">
                Non ci sono articoli nel tuo carrello.
            </div>
        </div>
    </mat-drawer>
    <mat-drawer position="start" #drawerFilter mode="over" style="width: 60%; min-height: 100vh;">
        <mat-toolbar style="background-color: var(--nav-color)">
            <div class="nav-container-filter">
                <div>
                    <span style="color: white">Filtri per i libri</span>
                </div>
                <button class="white-icon" (click)="drawerFilter.toggle()" mat-icon-button>
                    <mat-icon>arrow_back</mat-icon>
                </button>
            </div>
        </mat-toolbar>
        <div class="drawer-container-filter">
            <form style="width: 90%;"  [formGroup]="formGroup">
                <div style="margin-bottom: 3vh; margin-top: 3vh;">
                    <div style="margin-bottom: 0.7vh;">Stato del libro</div>
                    <div (click)="updateStars(4)" style="align-items: center; cursor:pointer">
                        <app-star-rating [rating]="4"></app-star-rating><span *ngIf="starsFilter!=4"> e
                            più</span><span style="font-weight: 600;" *ngIf="starsFilter==4"> e più</span>
                    </div>
                    <div (click)="updateStars(3)" style="align-items: center; cursor:pointer">
                        <app-star-rating [rating]="3"></app-star-rating><span *ngIf="starsFilter!=3"> e
                            più</span><span style="font-weight: 600;" *ngIf="starsFilter==3"> e più</span>
                    </div>
                    <div (click)="updateStars(2)" style="align-items: center; cursor:pointer">
                        <app-star-rating [rating]="2"></app-star-rating><span *ngIf="starsFilter!=2"> e
                            più</span><span style="font-weight: 600;" *ngIf="starsFilter==2"> e più</span>
                    </div>
                    <div (click)="updateStars(1)" style="align-items: center; cursor:pointer">
                        <app-star-rating [rating]="1"></app-star-rating><span *ngIf="starsFilter!=1"> e
                            più</span><span style="font-weight: 600;" *ngIf="starsFilter==1"> e più</span>
                    </div>
                </div>

                <div class="center" style="width: 100%; justify-content: space-between; margin-bottom: 5vh; ">
                    <div
                        style="border: solid rgb(155, 155, 155) 1px; border-radius: 5px; display: flex; height: 6vh; width: 45%;">
                        <div class="center" style="width: 5vh; font-size: 15px; align-items: center;">EUR</div>
                        <input (input)="getBooks()" formControlName="priceMin" style="width: 50%;font-size: 15px;"
                            type="number" class="range-price" placeholder="min">
                    </div>
                    <div
                        style="border: solid rgb(155, 155, 155) 1px; border-radius: 5px; display: flex; height: 6vh; width: 45%;">
                        <div class="center" style="width: 5vh; font-size: 15px; align-items: center;">EUR</div>
                        <input (input)="getBooks()" formControlName="priceMax" style="width: 50%; font-size: 11px;"
                            type="number" class="range-price" placeholder="max">
                    </div>
                </div>
                <div style="width: 100%;">
                    <mat-form-field style="width: 100%;">
                        <mat-label>Generi</mat-label>
                        <mat-select multiple formControlName="genres">
                            <mat-option (click)="getBooks()" *ngFor="let bookGenre of global.bookGenres"
                                [value]="bookGenre">{{bookGenre}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </form>
        </div>
    </mat-drawer>
    <mat-drawer-content style="min-height: 100vh;">
        <mat-toolbar class="home-toolbar">
            <div class="nav-container">
                <div>
                    <mat-icon class="white-icon">book</mat-icon>
                    <span style="color: white">Mimmi's book</span>
                </div>
                <div>
                    <button *ngIf="global.getUserInfos().length==0" (click)="drawer.toggle()" mat-icon-button
                        class="white-icon favorite-icon" aria-label="Example icon-button with heart icon">
                        <mat-icon [matBadge]="cart.length">shopping_cart</mat-icon>
                    </button>
                    <button (click)="toManager()" *ngIf="global.getUserInfos().length>0" mat-icon-button
                        class="white-icon favorite-icon" aria-label="Example icon-button with heart icon">
                        <mat-icon>book</mat-icon>
                    </button>
                </div>
            </div>
        </mat-toolbar>
        <div class="body-container">
            <div *ngIf="isThis=='pc'" class="filters-container" cols="8">
                <form [formGroup]="formGroup">
                    <div style="margin-bottom: 2vw;">
                        <div style="margin-bottom: 0.5vw;">Stato del libro</div>
                        <div (click)="updateStars(4)" style="align-items: center; cursor:pointer">
                            <app-star-rating [rating]="4"></app-star-rating><span *ngIf="starsFilter!=4"> e
                                più</span><span style="font-weight: 600;" *ngIf="starsFilter==4"> e più</span>
                        </div>
                        <div (click)="updateStars(3)" style="align-items: center; cursor:pointer">
                            <app-star-rating [rating]="3"></app-star-rating><span *ngIf="starsFilter!=3"> e
                                più</span><span style="font-weight: 600;" *ngIf="starsFilter==3"> e più</span>
                        </div>
                        <div (click)="updateStars(2)" style="align-items: center; cursor:pointer">
                            <app-star-rating [rating]="2"></app-star-rating><span *ngIf="starsFilter!=2"> e
                                più</span><span style="font-weight: 600;" *ngIf="starsFilter==2"> e più</span>
                        </div>
                        <div (click)="updateStars(1)" style="align-items: center; cursor:pointer">
                            <app-star-rating [rating]="1"></app-star-rating><span *ngIf="starsFilter!=1"> e
                                più</span><span style="font-weight: 600;" *ngIf="starsFilter==1"> e più</span>
                        </div>
                    </div>

                    <div class="center" style="width: 100%; justify-content: space-between; margin-bottom: 3vw;">
                        <div
                            style="border: solid rgb(155, 155, 155) 1px; border-radius: 5px; display: flex; height: 2vw; width: 45%;">
                            <div class="center" style="width: 3vw; font-size: 11px; align-items: center;">EUR</div>
                            <input (input)="getBooks()" formControlName="priceMin" style="width: 50%;font-size: 11px;"
                                type="number" class="range-price" placeholder="min">
                        </div>
                        <div
                            style="border: solid rgb(155, 155, 155) 1px; border-radius: 5px; display: flex; height: 2vw; width: 45%; font-size: 11px;">
                            <div class="center" style="width: 3vw; align-items: center;">EUR</div>
                            <input (input)="getBooks()" formControlName="priceMax" style="width: 50%; font-size: 11px;"
                                type="number" class="range-price" placeholder="max">
                        </div>
                    </div>
                    <div style="width: 100%;">
                        <mat-form-field style="width: 100%;">
                            <mat-label>Generi</mat-label>
                            <mat-select multiple formControlName="genres">
                                <mat-option (click)="getBooks()" *ngFor="let bookGenre of global.bookGenres"
                                    [value]="bookGenre">{{bookGenre}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </form>
            </div>
            <div *ngIf="isThis=='phone'" style="position: absolute; margin-top: 2vh;">
                <button (click)="drawerFilter.toggle()" mat-icon-button>
                        <mat-icon>filter_list</mat-icon>
                    </button>
            </div>
            <div class="content-container" cols="4">

                <div class="search-container">
                    <form class="form" role="search" id="form">
                        <input class="input" type="search" id="query" name="q" placeholder="Cerca per titolo o autore"
                            aria-label="Search through site content" [(ngModel)]="bookSearch" (input)="getBooks()">
                        <button class="button">
                            <svg class="svg" viewBox="0 0 1024 1024">
                                <path class="path1"
                                    d="M848.471 928l-263.059-263.059c-48.941 36.706-110.118 55.059-177.412 55.059-171.294 0-312-140.706-312-312s140.706-312 312-312c171.294 0 312 140.706 312 312 0 67.294-24.471 128.471-55.059 177.412l263.059 263.059-79.529 79.529zM189.623 408.078c0 121.364 97.091 218.455 218.455 218.455s218.455-97.091 218.455-218.455c0-121.364-103.159-218.455-218.455-218.455-121.364 0-218.455 97.091-218.455 218.455z">
                                </path>
                            </svg>
                        </button>
                    </form>
                </div>
                <div>
                    <mat-grid-list [cols]="gridCols" rowHeight="2:3">
                        <mat-grid-tile *ngFor="let book of books">
                            <div class="card-container">
                                <mat-card>
                                    <mat-card-header>
                                        <mat-card-title class="title-card">{{book.title}}</mat-card-title>
                                        <mat-card-subtitle class="title-card">{{book.authors}}</mat-card-subtitle>
                                    </mat-card-header>
                                    <mat-card-content style="font-size: 13px;">
                                        <img class="image image-contain" style="margin-top: 10px;" mat-card-image
                                            [src]="book.image" alt="Book's photo">
                                        <div>
                                            Edizione: <span style="font-size: 11px;">{{book.ediction}}</span>
                                        </div>
                                        <div style="margin-top: 3px;">
                                            Generi: <span style="font-size: 11px;"
                                                *ngFor="let genres of book.generes, index as i"><span
                                                    style="font-size: 11px;" *ngIf="i<book.generes.length-1">{{genres}},
                                                </span> <span *ngIf="i==book.generes.length-1">{{genres}}</span></span>
                                        </div>
                                        <div style="display: flex; align-items: center;">
                                            <span>
                                                Condizioni libro:
                                            </span>
                                            <br>
                                            <app-star-rating style="margin-left: 2vw;"
                                                [rating]="book.goodCondiction"></app-star-rating>
                                        </div>
                                    </mat-card-content>
                                    <mat-card-actions class="cart-position">
                                        <div style="font-weight: 500;margin-left: 1vw;">
                                            €{{book.price}}
                                        </div>
                                        <button (click)="deleteBook(book._id)" mat-mini-fab style="box-shadow: none;"
                                            color="warn" *ngIf="global.getUserInfos().length>0"
                                            aria-label="Example icon-button with heart icon">
                                            <mat-icon>delete_forever</mat-icon>
                                        </button>
                                        <button mat-icon-button
                                            *ngIf="renderDifference(book._id)&&global.getUserInfos().length==0"
                                            aria-label="Example icon-button with heart icon" (click)="AddToCart(book)">
                                            <mat-icon>add_shopping_cart</mat-icon>
                                        </button>
                                        <button mat-icon-button *ngIf="!renderDifference(book._id)"
                                            aria-label="Example icon-button with heart icon"
                                            (click)="SpliceToCart(book._id)">
                                            <mat-icon>shopping_cart</mat-icon>
                                        </button>
                                    </mat-card-actions>
                                </mat-card>
                            </div>
                        </mat-grid-tile>
                    </mat-grid-list>
                </div>
            </div>
        </div>
    </mat-drawer-content>
</mat-drawer-container>